@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@layer base {
  :root {
    --title-primary: #65a7de;
    --title-secondary: #8981fb;
    --button-primary-hover: #3d79a4;
    --button-save: #376e9f;
  }
}